
<div id="editForm">
  <a id="back" href="/classes/<%=specificClass._id%>">Back</a>
  <img id="pushpin" src="/images/push-pin.jpg"/>
  <form action="/classes/<%=specificClass._id%>/?_method=PATCH" method="POST">

  <label for="inputname">Subject</label>
  <input id="inputname" value="<%= specificClass.subject%>" type="text" name="class[subject]"/>

  <label for="inputpassword">Period</label>
  <input id="inputpassword" value="<%= specificClass.period%>" type="text" name="class[period]" />

  <input class="loginsubmit submit" type="submit" class="btn btn-primary" value="Submit Edits"/>
</form>
<form id="delete" action="/classes/<%=specificClass._id%>/?_method=DELETE" method="POST">
  <input class="loginsubmit submit" type="submit" class="btn btn-primary" value="Delete Class from Schedule"/>
</form>

<br>
<% for(var i=0; i<specificClass.students.length; i++) { %>
    <div id="editForm">
      <img id="bluepushpin" src="/images/blue-push-pin.png"/>
      <form action="/classes/<%=specificClass._id%>/students/<%=specificClass.students[i]._id%>/?_method=PATCH" method="POST">
        <p><%= specificClass.students[i].name %></p></br>
        <div class="input-field">
          <select id="behavior" name="student[behavior]">
            <option value="1" <% if (specificClass.students[i].behavior[indices[i]] == '1') { %>selected<% } %> >1</option>
            <option value="2" <% if (specificClass.students[i].behavior[indices[i]] == '2') { %>selected<% } %> >2</option>
            <option value="3" <% if (specificClass.students[i].behavior[indices[i]] == '3') { %>selected<% } %> >3</option>
            <option value="4" <% if (specificClass.students[i].behavior[indices[i]] == '4') { %>selected<% } %> >4</option>
            <option value="5" <% if (specificClass.students[i].behavior[indices[i]] == '5') { %>selected<% } %> >5</option>
          </select>
          <label for="behavior">Behavior</label>
        </div>

        <div class="input-field">
          <select id="aptitude" name="student[aptitude]">
            <option value="1" <% if (specificClass.students[i].aptitude[indices[i]] == '1') { %>selected<% } %> >1</option>
            <option value="2" <% if (specificClass.students[i].aptitude[indices[i]] == '2') { %>selected<% } %> >2</option>
            <option value="3" <% if (specificClass.students[i].aptitude[indices[i]] == '3') { %>selected<% } %> >3</option>
            <option value="4" <% if (specificClass.students[i].aptitude[indices[i]] == '4') { %>selected<% } %> >4</option>
            <option value="5" <% if (specificClass.students[i].aptitude[indices[i]] == '5') { %>selected<% } %> >5</option>
          </select>
          <label for="aptitude">Aptitude</label>
      </div>
        <input class="loginsubmit submit" type="submit" class="btn btn-primary" value="Edit"/>
      </form>
      <form id="delete" action="/classes/<%=specificClass._id%>/students/<%=specificClass.students[i]._id%>/?_method=DELETE" method="POST">
        <input class="loginsubmit submit" type="submit" class="btn btn-primary" value="Delete"/>
      </form>
    </div>
      <br><br>
<% } %>
</div>
