<h1><%= student.name %></h1>
<h3><%= student.email %></h3>
<h3>Aptitude: <%= student.aptitude[index]%> Behavior: <%= student.behavior[index]%></h3>

<a href="/classes/<%= student._classes[index]%>">Back</a>
